<p class="<%= sandex_class(hour.temperature, hour.humidity) %>">
  <%= forecast_time(hour.time) %>:
    <span class="<%= sandex_temperature_class(hour.temperature.round) %>"><%=  hour.temperature.round %></span>&deg;F,
  <span class="<%= sandex_humidity_class(hour.humidity) %>"><%= (100*(hour.humidity)).round %></span>% humidity</p>
